<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div class="container">
    <form>
        <h1>Login</h1>
        <h3>서비스 사용을 위한 로그인</h3>
        <label for="email">Email address</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </form>
    <button type="submit" id="loginBtn">Submit</button>
</div>
</body>
<script src="/member.js"></script>
</html>